{{extend 'layout.html'}}

<h1>Completed Tasks</h1>

<br>

{{if pending:}}
    {{if pending == 1:}}
        You have 1 pending task.
    {{elif pending:}}
        You have {{=pending}} pending tasks.
    {{pass}}
    Click {{=A('here', _href=URL('default', 'pending_task'))}} to accept/reject.
{{pass}}

<br><br>

{{=grid}}

<br><br>

<p><center>
{{=A('Create Task', _class='btn', _href=URL('default', 'add_task'))}}
{{=A('View My Tasks', _class='btn', _href=URL('default', 'index_user'))}}
</center>
</p>