{{extend 'layout.html'}}

<h1><center>My Task List</center></h1>

<br>

{{if pending:}}
    {{if pending == 1:}}
        You have 1 pending task.
    {{elif pending:}}
        You have {{=pending}} pending tasks.
    {{pass}}
    Click {{=A('here', _href=URL('default', 'pending_task'))}} to accept/reject.
{{pass}}

<br><br>

<h2>Tasks I Created</h2>
{{if my_task_count > 0:}}
    {{=grid}}
{{else:}}
    You have no tasks.
{{pass}}

<br><br><br><br>

<h2>Tasks Assigned to Me</h2>
{{if shared_task_count > 0:}}
    {{=shared_grid}}
{{else:}}
    You have no tasks assigned.
{{pass}}

<br><br>
<p><center>
{{=A('Create Task', _class='btn', _href=URL('default', 'add_task'))}}
{{=A('View Sent Tasks', _class='btn', _href=URL('default', 'sent_task'))}}
{{=A('View Completed Tasks', _class='btn', _href=URL('default', 'completed_task'))}}
</center>
</p>
